.image-product {
  width: 100%;
  aspect-ratio: 5/6;
  background-size: cover;
}

.image-product:hover {
  background-image: none;
  filter: opacity(50%);
}

.name {
  text-align: center;
}

.price {
  text-align: center;
  color: #777;
}

.produce {
  width: 100%;
  aspect-ratio: 5/8;
}
